<h1>Our Products</h1>
<br>
<table class="catalog">
  
<% @items.in_groups_of(2,false) do |row_items| %>
      <tr>
         <% for item in row_items %>
        <td>
          <td class = "col-sm-1">
          <div class="image">
            <%= link_to (image_tag item.image_url, :style => "height:100px"), item %>
          </div>
        </td>
        <td>
          <td class = "col-sm-3">
          <div class="title">
            <%= link_to item.title, item %>
          </div>
          <div class="description">
            <%= item.description %>
          </div>
          <div class="price">
            <%= number_to_currency(item.price, :unit => "€") %>
          </div>
          <div class="links">
            
            <% if session[:login] == 1 %>
            <%= link_to 'Edit', edit_item_path(item) %> |
            <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
            <% else %>
              <a href="/cart/<%= item.id %>">Add to cart</a><br><br>
            <% end%>
            
            
            
          </div>
        </td>
         <% end %>
      </tr>
    <% end %>
</table>


<% if session[:login] == 1 %>
  <p><%= link_to 'New Item', new_item_path %></p>
<% end %>
